<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form>
        <fieldset>
            <legend>Resume</legend>
            <p>경력/신입</p>
            <label for="job1">경력</label>
            <input type="radio" name="r1" value="cr1" id="job1">
            <label for="job2">신입</label>
            <input type="radio" name="r1" value="cr2" id="job2">
            <p>취미</p>
            <label for="h1">공부</label>
            <input type="checkbox" name="c1" value="ch1" id="h1">
            <label for="h2">운동</label>
            <input type="checkbox" name="c1" value="ch2" id="h2">
            <label for="h3">독서</label>
            <input type="checkbox" name="c1" value="ch3" id="h3">
            <p>자기소개</p>
            <textarea rows="10" cols="50" name="tt"></textarea>
            <br/>
            <input type="submit" value="Register">
            <input type="reset" value="Reset">
        </fieldset>
    </form>
    <br/>
    <a href = '..'>Go Home</a>
</body>
</html>