<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ol{
            list-style:georgian;
            background: blueviolet;
        }
        ul{
            list-style: armenian;
            float: left;
        }
        ul > li{
            float: left;
        }
    </style>
    <!-- ul에 포함된 li 
        ul > li        -->

</head>
<body>
    <h1>page3</h1>
    <!-- list로 묶어서 css에서 설정가능 -->
    <ol>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ol>
    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>
</body>
</html>