<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            width:300px;
            background: #ffff00;
        }
        table > thead{
            text-align: center;
            background-color: tomato;
            color: white;
        }
    </style>
</head>
<body>
    <h1>page4</h1>
    <table>
        <thead>
            <tr><td colspan=>ID</td><td>PWD</td><td>NAME</td></tr>
        </thead>
        <tbody>
            <tr><td>id01</td><td>pwd01</td><td>chan</td></tr>
            <tr><td>id02</td><td>pwd02</td><td>james</td></tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr><td>ID</td><td>PWD</td><td>NAME</td></tr>
        </thead>
        <tbody>
            <tr><td colspan="2">1</td></tr>
            <tr><td>4</td><td rowspan="3">5</td><td>6</td></tr>
            <tr><td>7</td><td></td><td>9</td></tr>
        </tbody>
    </table>
</body>
</html>