<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        
        var data1 = 100;
        // var 1data = 200;
        var $data = 300;
        // var data one = 400;
        var data = '500';
        var DATA = 600;
        
        var n4 = true;
        
        var n5 = {'id' : 'id01', 'name' : 'james'};
      
        var n6; //undefined
      
        var n7 = function(){};
        var a = '100';
        var b = 200;
        
        alert(typeof(a+b));
        var str = 'sohn0356@gmail.com';
        var idx = str.indexOf('@');
        var id = str.substr(0,idx);
        var domain = str.substr(idx+1,str.length);
    </script>
</head>
<body>
    <p>tets</p>
    
    
</body>
</html>