<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        window.onload = function(){
            setInterval(() => {
                date = new Date();
                str = date.getHours()+':'+date.getMinutes()+':'+date.getSeconds();
                document.querySelector('h1').innerHTML = str;
            }, 1000);
        };
    </script>
</head>
<body>
    <h1>Here</h1>
</body>
</html>