<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <a href="{% url 'shop1:css01' %}">css01</a>
    <a href="{% url 'shop1:css02' %}">css02</a>
    <a href="{% url 'shop1:css03' %}">css03</a>
    <a href="{% url 'shop1:css04' %}">css04</a>
    <a href="{% url 'shop1:css05' %}">css05</a>
    <a href="{% url 'shop1:css06' %}">css06</a>
</body>
</html>