{% load static %}
<style>
    
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
  background-color: #fff;
}
#t01 th {
  color: white;
  background-color: black;
}
img{
    width: 70px;
}
</style>
<section>
    <h1>Item List</h1>
    <table id="t01">
        <thead>Item</thead>
            <tbody>
                <tr><td>id</td><td>name</td><td>price</td><td>regdate</td><td>imgname</td></tr>
                {% for item in reitems %}
                    <tr><td><a href="{% url 'shop:itemdetail' item.id %}">{{ item.id }}</a></td><td>{{ item.name }}</td>
                    <td>{{ item.price }}</td><td>{{ item.regdate }}</td><td><img src="../static/img/{{item.imgname}}"></td></tr>
                {% endfor %}
            </tbody>
    </table>
</section>