{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test01.css' %}">
    <style>
        a:active {
            background-color: blue;
        }
        a:hover {
            background-color: yellow;
        }
        a:visited {
            background-color: red;
        }
    </style>
</head>
<body>
    <h1>test01</h1>
    <h1>test01</h1>
    <h1 class="cc">test01</h1>
    <h1><a href=".">test01</a></h1>
    <h1 id="id01">test01</h1>
    <h1>test01</h1>
</body>
</html>