<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:red;
        }
        #login_form > input{
            color : blueviolet;
            background-color: darkblue;
        }
        a:hover{
            color:yellow;
            background-color: teal;
        }
    </style>
</head>
<body>
    <h1>css attribute test</h1>
    <form id="login_form" action="register" method="get">
        ID<input type="text" name="id"><br/>
        PWD<input type="password" name="pwd"><br/>
        <input type="submit" value="LOGIN">
    </form>
</body>
</html>