{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop2.css' %}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a188d022f9e19591c7c1200b7aca5610"></script>
    <style>
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>

